.logo-manage-main {
  display: flex;
}

.logo-manage-info {
  height: 148px;
  line-height: 149px;
  margin-right: 15px;
  color: #FE5106;
}

.logo-manage-add {
  text-align: right;
}

.logo-manage-main-img {
  width: 320px;
  height: 240px;
  border-radius: 6px;
}

.logo-manage-dialog-main {
  display: flex;
}

.logo-manage-dialog-img {
  width: 146px;
  height: 146px;
  margin-right: 15px;
  border-radius: 6px;
  border: 1px solid #c0ccda;
}